body{
    background:  rgb(22, 20, 20);
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    display: inline-block;
    margin-left: 20px;
    color: aliceblue;
    font-family: comic Shanns;
    font-size: 30px;
}
li:hover{
    color: rgb(129, 63, 63)
}

h1{
    color: aliceblue;
}
a{
    font-size: 23px;
    color: rgb(133, 88, 88);
}
a:hover{
    color:gray
}